* {
  transition: all 0.5s ease;
}

.data-cards {
  display: grid;
  grid-template-rows: 2fr 3fr;
  max-height: 400px;
}

.row2 {
  display: flex;
  margin: 20px 0px 10px 0;
  justify-content: space-between;
}

.tiny-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: black;
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 7.5px;
}

.main-data {
  font-size: 70px;
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;
}

.data-description {
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0px 7.5px 0px 7.5px;
  font-family: Jost;
}

.row1 {
  display: flex;
}

.main-card {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 7.5px;
  max-height: 200px;
}

.gw-details-card {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 7.5px;
}

.name-card {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 7.5px;
  max-height: 200px;
}

.team-name {
  font-size: 60px;
}

.manager-name {
  font-size: 20px;
}

.card-description {
  font-size: 17px;
  text-align: center;
  color: white;
  margin: 0px 7.5px 0px 7.5px;
  font-family: Jost;
}
