.data-cards {
  display: grid;
  grid-template-rows: 2fr 3fr;
  max-height: 400px;
}

.row1 {
  display: flex;
  margin: 0px 10px;
  flex-wrap: wrap;
}

.tiny-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: black;
  background-color: pink;
  border-radius: 27px;
  padding: 20px;
  margin: 10px 15px;
}

.main-data {
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;
}

.data-description {
  font-size: 20px;
  text-align: center;
}

.row2 {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  margin: 10px 10px
}

.main-card {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: pink;
  border-radius: 27px;
  padding: 20px;
  margin: 0px 15px -5px;
  max-height: 200px;
}

.secondary-card {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: pink;
  border-radius: 27px;
  padding: 20px;
  margin: 0px 15px -5px;
}