.application-name {
  padding-left: 35px;
}

.r1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.header-text {
  display: flex;
  color: white;
  align-items: center;
  max-width: 500px;
  flex-wrap: wrap;
}

.welcome-message {
  padding-left: 35px
}