.left-click {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 1/1;
}

.right-click {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 3/3;
}

.hero-card {
  background: #0202f7; 
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 7fr 1fr;
  justify-items: center;
  align-items: center;
  /* max-height: 350px; */
  opacity: 0.9;
  transition: scale 0.3s ease;
}

.hero-card:hover {
  opacity: 1;
  scale: 0.99;
}

.Pagination {
  grid-column: 1/4;
  grid-row: 2/3
}

.hero-card img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.hero-card-content h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.hero-card-content p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #888;
}

.dot {
  display: flex;
  /* width: 10px; */
  border: 0;
  height: 13px;
  margin: 0 0.3rem;
  outline: none;
  border-radius: 10px;
  top: 90px;
  background-color: #ffffff4b;
}

.dot-active {
  display: flex;
  /* width: 20px; */
  height: 13px;
  border: 0;
  margin: 0 0.3rem;
  outline: none;
  top: 90px;
  background-color:   #ffffff;
  border-radius: 10px;
}

@keyframes dot-expand {
  from {
    width: 10px;
    background-color: #ccc;
    height: 5x;
  }
  to {
    width: 20px;
    height: 5px;
    background-color: #4a4a4a;
  }
}

@keyframes dot-contract {
  from {
    width: 20px;
    height: 5px;
    background-color: #4a4a4a;
  }
  to {
    width: 10px;
    height: 5px;
    background-color: #ccc;
  }
}

.goLeft {
  animation: goLeft 1s;
}

.goRight {
  animation: goRight 1s;
}

.hide {
  display: none;
}

@keyframes goLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes goRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(00px);
  }
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }
}

@keyframes gradient {
	0% {
		scale: 1;
	}
	100% {
		scale: 0.9;
	}
}

@keyframes gradientOut {
	0% {
		scale: 0.9;
	}
	100% {
		scale: 1;
	}
}