.hero-card {
  background: #0202f7; 
  border-radius: 50px;
  opacity: 0.9;
  transition: scale 0.3s ease;
  max-width: 320px;
  /* max-height: 300px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-card:hover {
  opacity: 1;
  scale: 0.99;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}

.card-title {
  font-size: 35px;
}

.chart-cntr {
  min-width: 80%;
  min-height: 60%;
  max-width: 90%;
  max-height: 90%;
}

.see-more-bttn {
  padding: 10px 20px;
  background-color: #4287f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.see-more-bttn:hover {
  background-color: #1a5bc8;
}

@media (min-width: 380px) and (max-width: 926px) {
  .hero-card {
    min-width: 350px;
    max-width: 600px;
  }
}

@media (min-width: 926px) and (max-width: 1440px) {
  .hero-card {
    min-width: 600px;
    max-width: 800px;
  }
}

@media (min-width: 1440px) {
  .hero-card {
    max-width: 1000px;
    /* max-height: 400px; */
  }
}

/* @media (max-width: 600px) {
  .hero-card {
    max-width: 550px
  }

  .chart-cntr {
    min-width: 500px;
    min-height: 300px;
  }
} */

/* @media (min-width: 380px) {
  .chart-cntr {
    max-width: 400px;
    min-height: 300px;
  }
} */

@media (max-width: 380px) {
  .chart-cntr {
    max-width: 300px;
    min-height: 300px;
  }
} 

.goLeft {
  animation: goLeft 1s;
}

.goRight {
  animation: goRight 1s;
}

.hide {
  display: none;
}

@keyframes goLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes goRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(00px);
  }
}



@keyframes gradient {
	0% {
		scale: 1;
	}
	100% {
		scale: 0.9;
	}
}

@keyframes gradientOut {
	0% {
		scale: 0.9;
	}
	100% {
		scale: 1;
	}
}