.landing-page-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 2fr 1fr;
  height: 100vh;
}

.standings-page-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 2fr 1fr;
  height: 100vh;
}

.about-page-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 2fr 1fr;
  height: 100vh;
}

.temp {
  color: white;
  align-self: center;
  justify-self: center;
}

.hero {
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px 10px;
}

.mini-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 10px;
  column-gap: 10px;
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }
}

