

#mini-card:hover #card-content   {
  /* animation: transformContent 0.5s ease 1; */
  top:0;
}

#mini-card:hover #card-media   {
  animation: fadeMediaIn 0.5s ease 1;
  opacity: 0;
  bottom: 50%
}

#mini-card #card-media   {
  animation: fadeMediaOut 0.5s ease 1;
  opacity: 1;
  bottom: 0
}

#mini-card #card-content   {
  display: grid;
  top:60%;
  width: 100%;
  transition: top 0.5s ease;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#mini-card {
  opacity: 0.9;
  transition: scale 0.2s ease;
}

#mini-card:hover {
  opacity: 1;
  scale: 0.99;
}

.mini-card.leagues #mini-card {
  background: rgb(48, 48, 52);
}

.mini-card.awards #mini-card {
  background: wheat;
  color: black;
}

#qpl23 {
  color: rgb(235, 7, 7);
  align-self: self-end;
  justify-self: center;
}

#qsc23 {
  color: rgb(0, 255, 47);
  align-self: self-end;
  /* justify-self: center; */
}

#qpl23:hover {
  text-decoration: underline;
}

#qsc23:hover {
  text-decoration: underline;
}

@keyframes transformContent {
  0% {
    top: 60%
  }
  100% {
    top: 10%
  }
}

@keyframes fadeMediaIn {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -170px);
  }
}

@keyframes fadeMediaOut {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  0% {
    opacity: 0;
    transform: translate(0, -170px);
  }
}