

#mini-card:hover #card-content   {
  animation: transformContent 0.5s ease 1;
  top:10%
}

#mini-card:hover #card-media   {
  animation: fadeMedia 0.5s ease 1;
  opacity: 0;
  /* filter: grayscale(1); */
  bottom: 50%
}

#mini-card #card-content   {
  /* animation: transformContent 0.5s ease 1; */
  top:60%;
  width: 100%;
  /* background: white; */
  /* padding-bottom: 350px; */
}

#mini-card {
  background: linear-gradient(-45deg, rgba(232, 73, 0, 0.619) 9%, rgba(255, 0, 144, 0.547) 45%, rgba(35, 134, 170, 0.633) 60%, rgba(41, 255, 205, 0.731) 92%); 
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: gradientOut 0.5s ease-in-out 1;
}

#mini-card:hover {
  animation: gradient 0.5s ease-in-out 1;
  background-position: 100% 100%;
}


@keyframes transformContent {
  0% {
    top: 60%
  }
  100% {
    top: 10%
  }
}

@keyframes fadeMedia {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -170px);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@keyframes gradientOut {
	0% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}