

#mini-card:hover #card-content   {
  /* animation: transformContent 0.5s ease 1; */
  top:-10px;
}

#mini-card:hover #card-media   {
  animation: fadeMediaIn 0.5s ease 1;
  opacity: 0;
  bottom: 50%
}

#mini-card #card-media   {
  animation: fadeMediaOut 0.5s ease 1;
  opacity: 1;
  bottom: 0
}

#mini-card #card-content   {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  top:45%;
  width: 90%;
  transition: top 0.5s ease;
}

#mini-card {
  opacity: 0.9;
  transition: scale 0.2s ease;
}

#mini-card:hover {
  opacity: 1;
  scale: 0.99;
}

.mini-card.leagues #mini-card {
  background: rgb(48, 48, 52);
}

.mini-card.awards #mini-card {
  background: wheat;
  color: black;
}

#qpl23 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#table-link:hover {
  text-decoration: underline;
}

#card-content span {
  font-family: "Staatliches", sans-serif;
  font-size: 5rem;
}

@media (max-width: 900px) {
  #card-content #card-title {
    font-family: "Staatliches", sans-serif;
    font-size: 3rem;
  }

  span#league-title {
    font-size: 3rem;
  }

  span#table-link {
    /* font-size: 1rem; */
    display: none;
  }

  #qpl23 {
    padding-top: 30px;
    transition: all 0.1s ease;
  }

  #league-title:hover {
    text-decoration: underline;
  }

  #mini-card:hover #card-content {
    top: 20px;

    #qpl23 {
      padding-top: 10px;
    }
  }

  #mini-card #card-content {
    padding: 0px;
    padding-left: 10px;
    top:60%;
  }
}

/* #qsc23:hover {
  text-decoration: underline;
} */

@keyframes transformContent {
  0% {
    top: 60%
  }
  100% {
    top: 10%
  }
}

@keyframes fadeMediaIn {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -170px);
  }
}

@keyframes fadeMediaOut {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  0% {
    opacity: 0;
    transform: translate(0, -170px);
  }
}